@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Raleway:wght@400;700&display=swap");
:root {
  /*  Primary Colors */
  --introBg: hsl(217, 28%, 15%);
  --mainBg: hsl(218, 28%, 13%);
  --footerBg: hsl(216, 53%, 9%);
  --testimonialsBg: hsl(219, 30%, 18%);
  /*  Accent */
  --ctaCyan: hsl(176, 68%, 64%);
  --ctaBlue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  /*  Neutral */
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: 'Raleway', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

/*  Globa styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts  */
html {
  font-size: 100%;
  color: var(--white);
}

body {
  font-family: var(--font-body);
  font-size: calc(16px + 0.75vw);
  line-height: 1.3;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

p {
  margin-top: 0;
}

section {
  padding: 0 27px 160px;
  background-color: var(--mainBg);
}

button {
  border: none;
  padding: 20px;
  background: linear-gradient(to right, var(--ctaCyan), var(--ctaBlue));
  font-size: 0.65em;
  padding: 20px 90px;
  color: var(--white);
  width: 100%;
  max-width: 280px;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right, var(--ctaBlue), var(--ctaCyan));
}

ul,
li {
  list-style: none;
}

a, p {
  font-size: 0.65em;
  color: var(--white);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--white);
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

h2.small {
  font-size: 1.3em;
}

h2.large {
  font-size: 1.6em;
}

section {
  background-color: var(--mainBg);
}

.container, .container--small {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 20px 100px 20px;
}

@media screen and (min-width: 999px) {
  .container, .container--small {
    padding: 73px 60px 87px 60px;
  }
}

.container--small {
  max-width: 920px;
}

header {
  background-color: var(--introBg);
}

header .container, header .container--small {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
  gap: 20px;
  align-items: center;
}

@media screen and (min-width: 999px) {
  header .container, header .container--small {
    gap: 56px;
  }
}

header img {
  width: 5.1875rem;
}

@media screen and (min-width: 999px) {
  header img {
    width: 11.5625rem;
  }
}

header a {
  font-size: 0.875rem;
}

@media screen and (min-width: 999px) {
  header a {
    font-size: 1rem;
  }
}

header a:hover {
  text-decoration: underline;
}

/*  header */
.hero {
  position: relative;
  background-color: var(--introBg);
}

.hero:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 40vw;
  bottom: 0px;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  left: 0;
}

@media screen and (min-width: 699px) {
  .hero:after .hero:after {
    background-image: url("../images/bg-curvy-desktop.svg");
    height: 33vw;
  }
}

.hero .container, .hero .container--small {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero > * {
  position: relative;
  z-index: 1;
}

.hero img {
  width: 100%;
  max-width: 44.75rem;
}

.hero h1 {
  max-width: 48rem;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 1.1em 0;
}

.hero p {
  max-width: 36.56rem;
  font-size: 0.70em;
}

.hero button {
  margin-top: 10px;
}

/*  hero */
.features {
  background-color: var(--mainBg);
}

.features .feature-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6vw 10vw;
  max-width: 57.5rem;
  margin: 0 auto;
}

@media screen and (min-width: 699px) {
  .features .feature-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 999px) {
  .features .feature-grid {
    gap: 7vh 7vw;
  }
}

.features .feature {
  text-align: center;
}

.features .feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-bottom: 30px;
}

.features .feature-img img {
  height: 100%;
  width: auto;
}

.features .feature-title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.features .feature-description {
  font-size: 1rem;
}

/*  features */
.illustration {
  /*
  .illustration__description {
    width: 100%;
    max-width: 563px;
     

    h2 {
      font-family: 'Raleway', sans-serif;
      font-size: 40px;
      margin-bottom: 24px;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 1.4rem;
    }
    .works-btn {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline;
      background: none;
      display: block;
      color: #62E0D9;
      width: 146px;
    }
  }
   */
}

.illustration__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 999px) {
  .illustration__grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1320px;
  }
}

.illustration__img {
  text-align: center;
}

.illustration__img img {
  width: 100%;
  max-width: 615px;
}

@media screen and (min-width: null) {
  .illustration__description {
    padding-right: 4rem;
  }
}

.illustration__description h2 {
  margin: 1.1em 0;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

@media screen and (min-width: 999px) {
  .illustration__description h2 {
    width: 400px;
  }
}

.illustration__description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 1.4rem;
}

.illustration__description a {
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 25px;
  color: var(--ctaCyan);
  border-bottom: 1px solid var(--ctaCyan);
  transition: all 200ms ease-in-out;
  /*
      &::after {
        position: absolute;
        display : flex;
        content: '';
        background-image: url('../images/icon-arrow.svg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: right center;
        justify-content: center;
        align-items: center;
        top: 5px;
        margin-left: 20px;
      }
*/
}

.illustration__description a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.testimonials {
  /*  grid */
  /*  testimonial */
}

.testimonials__grid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 500px;
}

@media screen and (min-width: 999px) {
  .testimonials__grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1320px;
  }
}

.testimonials__grid:first-child:before {
  content: url("../images/bg-quotes.png");
  transform: scale(0.7);
  position: absolute;
  z-index: 0;
  top: -4px;
  left: 20px;
  width: 27px;
  height: 18px;
}

@media screen and (min-width: 999px) {
  .testimonials__grid:first-child:before {
    transform: none;
    top: 37px;
    left: 50px;
    width: 60px;
    height: 45px;
  }
}

.testimonials .testimonial {
  position: relative;
  z-index: 1;
  background-color: var(--testimonialsBg);
  padding: 30px 24px 24px 24px;
  border-radius: 5px;
  /*
    &__author {
      align-items: center;
      display: flex;

      img {
        height: 54px;
        width: 54px;
        border-radius: 50%;
        display: block;
        margin-right: 8px;
      }

      &--info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h4 {
          font-size: 1rem;
          margin-bottom: 5px;
          font-weight: 400;
        }

        small {
          font-size: 10px;
          letter-spacing: 1.4px;
        }
      }
    }
  */
  /*  author */
}

@media screen and (min-width: 999px) {
  .testimonials .testimonial {
    padding: 44px 24px 24px 24px;
  }
}

.testimonials .testimonial__para {
  font-size: 0.70em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 30px;
}

.testimonials .testimonial__author {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 20px 20px;
  column-gap: 14px;
}

.testimonials .testimonial__author--img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.testimonials .testimonial__author--img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.testimonials .testimonial__author--name {
  font-size: 0.5em;
  font-weight: 700;
}

.testimonials .testimonial__author--title {
  font-size: .65rem;
  letter-spacing: 1.4px;
  font-weight: 400;
}

/*  testimonials */
.subscriptions {
  border: 1px solid salmon;
  background-color: var(--introBg);
  /*  form */
}

/*  subscriptions */
/*# sourceMappingURL=main.css.map */