.features {
  background-color: var(--mainBg);
  width: 100%;
  gap: 94px 150px;
  
  .feature-grid {
    max-width: 55rem; //880px;
    margin: 0 auto;
    
    @include breakpoint(medium){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }       
  }

  .feature {
    border: 1px solid salmon;
    // min-height: 350px;
    text-align: center;
     
    &-image {
      height: 80px;
      margin-bottom: 30px;
       
      // max-width: 104px;
      // width: 100%;
    }

    &-title {
      font-family: 'Raleway', sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    &-description {
      font-size: 1rem;
    }
  }
} /*  features */