.features {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--mainBg);
  width: 100%;
  // gap: 94px 150px;
  gap: 6vw 10vw;
  margin: 0 auto;
  
  .feature-grid {

    max-width: 55rem; //880px;
    margin: 0 auto;
    
    @include breakpoint(medium){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }       
  }

  .feature {
    // border: 1px solid salmon;
    // min-height: 350px;
    text-align: center;
     
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      margin-bottom: 30px;
      border: 1px solid goldenrod;
      img {
        height: 100%;
        width: auto;
      }
    }

    &-title {
      font-family: 'Raleway', sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    &-description {
      font-size: 1rem;
    }
  }
} /*  features */