header {
  background-color: var(--introBg);
  // background-color: #1b2330;

  .container {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
    gap: 20px;
    align-items: center;
    // padding: 25px 20px 50px 20px;
    
    @include breakpoint(large){
      // padding: 73px 80px;
      gap: 56px;
    }
  }

  img {
    width: 5.1875rem; //83px;

    @include breakpoint(large){
      width: 11.5625rem; //185px;
    }
  }

  a {
    font-size: 0.875rem;

    @include breakpoint(large){
      font-size: 1rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
 } /*  header */

 